.learning_sidebar {
    width: 25rem;
    height: calc(100vh - 60px);
    overflow-y: auto;
    border: 1px solid #12121230;
    padding: 10px;
}

.learning_child {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.button_active {
    color: #fff;
    background: linear-gradient(270deg, #F24F60 10.36%, #A5066C 95.36%);
    box-shadow: 0px 17px 32px rgb(0 0 0 / 25%);
    border: 1px solid #2D303A;
    border-radius: 5px;
    padding: 15px 30px;
    margin-bottom: 10px;
    width: 100%;
    text-align: start;
}

.button_notactive {
    background: linear-gradient(94.53deg, #1A1C25 1.87%, #1F222C 100%, #1C1E25 100%);
    box-shadow: 0px 17px 32px rgb(0 0 0 / 25%);
    border: 1px solid #2D303A;
    border-radius: 5px;
    padding: 15px 30px;
    color: #E0E0E0;
    margin-bottom: 10px;
    width: 100%;
    text-align: start;
}